#header {
  background-color: #282c34;
  /* min-height: 100vh; */
  padding: 1em 2em;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-logo {
  height: 40px;
  width: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: header-logo-spin infinite 20s linear;
  }
}

.header-link {
  margin-top: 2px;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  margin-left: 8px;
}
.header-link:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}
.header-link h1 {
  font-size: 2rem !important;
}

/* .cart-buttom{
  cursor: auto !important;
  float: right;
}

.cart-buttom:focus{
  color: #212529 !important;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
  box-shadow: none !important;
} */

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
